.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body{
    background-color: #F1F1F3;
}




.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 31px 160px;
    text-align: center;
    align-items: center;
}
.primary-btn{
    height: 52px;
    width: 116px;
    color: #006A50;
    border-radius: 8px;
}
h3{
    font-size: 32px;
    font-weight: bold;
}

/*hero design*/

.Hero-item{
    display: flex;
    
    align-items: center;
    background-color: #C6E4D6;
    margin: 20px 160px 80px 160px;
    border-radius: 5px;
    gap: 64px;
}
.Hero-btn{
    color: white;
    background-color: #006A50;
    border-radius: 5px;
    padding: 15px 30px;
    border-style: none;
}
.hero-heading{
    font-size: 30px;
    font-weight: bold;
    

}
.hero-description{
    padding: 117px 0 117px 60px;
}
.hero-img{
    padding: 80px 60px 80px 0;
}

/*card-items*/

.card-items{
    display: flex;
    justify-content: space-between;
    
    gap: 24px;
}

.card-section{
    margin: 0 160px 80px 160px;
}
.card-item{
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 24px;
    gap: 24px;
    
}

.heading{
    font-size: 20px;
    font-weight: bold;
}

/*vision cards*/

.vision{
    margin: 0 160px;
}

.vision-card-items{
    display: flex;
    gap: 24px;
}
.vision-card1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 5px;
    padding: 24px;
}
.vision-btn1{
    background-color: #5490F5;
    color: white;
    padding: 20px 11px;
    border-radius: 5px;
    border-style: none;
}
.vision-card2{
    background-color: #C6E4D6;
    border-radius: 5px;
    padding: 24px;
}

.vision-btn2{
    background-color:#09A15C ;
    color: white;
    padding: 20px 11px;
    border-radius: 5px;
    border-style: none;
}

.vision-card3{
    background-color: #F7EBCF;
    border-radius: 5px;
    padding: 24px;
}
.vision-btn3{
    background-color: #FFC239;
    color: white;
    padding: 20px 11px;
    border-radius: 5px;
    border-style: none;
}
.chif-adviser{
    background-color: #FFFFFF;
    background-image:  url(B11A1--assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat;
    padding:24px;
    margin:  32px 5px 80px 5px;
    border-radius: 8px;

}

/*new satellite cards*/

.recent-news{
    margin: 0 160px 80px 160px;
}

.card-no1{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: white;
    margin-bottom: 24px;
    border-radius: 5px;

}

.card-no2{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: white;
    margin-bottom: 24px;
    border-radius: 5px;
}

.card-no3{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: white;
    border-radius: 5px;
}


.satellite-img{
    border-radius: 8px;

}

.news-card-btn{
    background-color: #006A50;
    padding: 5px 15px ;
    border-radius: 5px;
    border-style: none;
    color: white;
}

/*Donate Now section*/

.donate-today{
    text-align: center;
    gap: 32px;
     margin: 0 160px 80px 160px;
}
.tk-cards{
    display: flex;
    gap: 24px;
    
    justify-content: center;
   
}

.tk-card1{
    background-color: white;
    padding: 0 40px 0 40px;
    border-radius: 16px;
}

.tk-card2{
    background-color: #C6E4D6;
    padding: 0 40px 0 40px;
    border-radius: 16px;
}

.form{
    margin: 24px 0;
   width: 1032px;
   height: 64px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.other-Amount{
    padding: 30px 20px;
    width: 750px;
    
    text-align: center;
    border-style: none;
    border-radius: 5px;
    margin: 24px 0;
}
.donate{
     background-color: #006A50;
    padding: 10px 20px ;
    border-radius: 5px;
    border-style: none;
    color: white;

}

.footer-design{
    background-color: #C6E4D6;
    text-align: center;
    justify-content: center;
    margin: 0 160px 80px 160px;
    border-radius: 10px;
    padding: 100px 80px;
}

.enter-email{
    padding: 10px 18px;
    width: 600px;
    border-radius: 5px;
    border-style: none;
}
.subscribe-letter{
    font-weight: 800;
    font-size: 40px;
}
.Bangladesh{
    
    font-size: 16px;
    color: #0E0E0E;
}

.images{
    display:flex;
    justify-content: center;
    gap: 24px;
    margin: 24px 0;
}
.bottom-footer{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hr{
    width: 1122px;
}
.footer-bangladesh{
    font-size: 32px;
    font-weight: 800;
}

